.DS_Store
.tmp
.git
node_modules
.settings
*.log
dist/
typings/
www
coverage
**/.idea/workspace.xml
platforms
plugins
**/.sass-cache
**/.sass-cache/*
*.apk
.idea
.idea/*.xml
.idea/jsLibraryMappings.xml
client/app/**/*.js
client/app/**/*.js.map
