<ion-side-menus>
  <!-- Center content -->
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear">
        <i class="icon ion-chevron-left"></i>
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left">
    <div class="container">
      MyALD
    </div>
    <ion-list>
      <ion-item style="margin-left: 30px; border-bottom: 1px solid #CCC; color: #ffffff" ng-click="openSettings()">
        <i class="ion-settings" style="font-size: 35px;"></i>
        <span style="color: #ffffff; padding-left: 4px;">Réglages</span>
      </ion-item>
      <ion-item style="margin-left: 30px; border-bottom: 1px solid #CCC; color: #ffffff" ng-click="sendFeedback()">
        <i class="ion-email-unread" style="font-size: 33px;"></i>
        <span style="color: #ffffff;padding-left: 2px;">Nous contacter</span>
      </ion-item>
      <ion-item style="margin-left: 30px; border-bottom: 1px solid #CCC; color: #ffffff" ng-click="openPromotionModal()">
        <i class="ion-android-share-alt" style="font-size: 35px;"></i>
        &nbsp;<span style="color: #ffffff; padding-left: 3px;">Partager</span>
      </ion-item>
      <ion-item style="margin-left: 30px; color: #ffffff" ng-click="logout()">
        <i class="ion-power" style="font-size: 35px;"></i>
        &nbsp;<span style="color: #ffffff; ">Se déconnecter<br><span style="font-size: 9px">Tu ne recevras plus de notifications en temps réel.</span></span>
      </ion-item>
    </ion-list>
  </ion-side-menu>

</ion-side-menus>
