ion-side-menu {
  background-color: #07045d !important;
  font-family: 'Arial', serif;
  font-size: 22px;
  .container {
    text-align: center;
    padding: 20px;
    font-family: 'Arial', serif;
    background-color: #444444;
    color: #fff;
  }
  .item {
    color: #ffffff;
    font-size: 18px;
    background-color: inherit !important;
    border: none;
  }
}
